# Pyspark session

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

## Read data frame

In [5]:

df = spark.read.csv("base_exp.csv", header= True)

In [6]:
df.show()

+------+---+----------+
|  name|age|experience|
+------+---+----------+
| Roger| 24|         2|
| Marie| 40|        10|
|Fatima| 47|         7|
|  Alex| 26|         3|
| sunny| 24|         2|
+------+---+----------+