# Filter operation
&, |, ==,
~

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Filters").getOrCreate()

In [12]:
df = spark.read.csv("base_salary.csv",header=True, inferSchema= True)

In [ ]:
df.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|   Roger|24.0|         2| 24000|
|   Marie|40.0|        10| 40000|
|  Fatima|47.0|         7| 80000|
|    Alex|26.0|         3| 38000|
|   sunny|24.0|         2|  NULL|
|    NULL|25.0|      NULL|  NULL|
|  Robert|50.0|      NULL|  NULL|
|    NULL|48.0|      NULL| 60000|
|Amandine|NULL|         5|  NULL|
|    NULL|NULL|      NULL|  NULL|
|  Armine|NULL|      NULL|  NULL|
+--------+----+----------+------+

## Add rows using union

In [13]:
import random

In [14]:
new_rows = spark.createDataFrame([
    ('Rico',random.randint(20,50),7,55600),
    ('ZoÃ©',20,0,25000),
    ('Fanny',48,12,70100),
])

In [16]:
df_update = df.union(new_rows)

## Create a DataFrame with none null value in name

In [17]:
df_none_null_name = df_update.na.drop(subset=['name'])

In [ ]:
df_none_null_name.head(5)

[Row(name='Roger', age=24.0, experience=2, salary=24000),
 Row(name='Marie', age=40.0, experience=10, salary=40000),
 Row(name='Fatima', age=47.0, experience=7, salary=80000),
 Row(name='Alex', age=26.0, experience=3, salary=38000),
 Row(name='sunny', age=24.0, experience=2, salary=None)]

## Filter df

### One condition

In [ ]:
df_none_null_name.filter("salary>40000").show()

+------+----+----------+------+
|  name| age|experience|salary|
+------+----+----------+------+
|Fatima|47.0|         7| 80000|
|  Rico|47.0|         7| 55600|
| Fanny|48.0|        12| 70100|
+------+----+----------+------+

### Multiple conditions

In [21]:
df_none_null_name.filter((df_none_null_name['salary']>=30000) 
                         & (df_none_null_name['experience']>7))\
                            .show()

+-----+----+----------+------+
| name| age|experience|salary|
+-----+----+----------+------+
|Marie|40.0|        10| 40000|
|Fanny|48.0|        12| 70100|
+-----+----+----------+------+

## Write csv file in pandas  
(because in pySpark, it did work)

In [32]:
import pandas as pd
df_none_null_name.toPandas().to_csv("base_salary_update.csv",index=False,mode="w")