# Filter operation
&, |, ==,
~

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Filters").getOrCreate()

In [10]:
df = spark.read.csv("base_salary.csv",header=True, inferSchema= True)

In [11]:
df.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|   Roger|24.0|         2| 24000|
|   Marie|40.0|        10| 40000|
|  Fatima|47.0|         7| 80000|
|    Alex|26.0|         3| 38000|
|   sunny|24.0|         2|  NULL|
|    NULL|25.0|      NULL|  NULL|
|  Robert|50.0|      NULL|  NULL|
|    NULL|48.0|      NULL| 60000|
|Amandine|NULL|         5|  NULL|
|    NULL|NULL|      NULL|  NULL|
|  Armine|NULL|      NULL|  NULL|
+--------+----+----------+------+

## Add rows using union

In [13]:
import random

In [16]:
new_rows = spark.createDataFrame([
    ('Rico',random.randint(20,50),7,55600),
    ('Zo√©',20,0,25000),
    ('Fanny',48,12,70100),
])

In [17]:
df_update = df.union(new_rows)

## Create a DataFrame with none null value in name

In [20]:
df_none_null_name = df_update.na.drop(subset=['name'])

In [23]:
df_none_null_name.head(5)

[Row(name='Roger', age=24.0, experience=2, salary=24000),
 Row(name='Marie', age=40.0, experience=10, salary=40000),
 Row(name='Fatima', age=47.0, experience=7, salary=80000),
 Row(name='Alex', age=26.0, experience=3, salary=38000),
 Row(name='sunny', age=24.0, experience=2, salary=None)]